In [3]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix

In [4]:
df = pd.read_csv("2016-Q1-Trips-History-Data-START.csv")
df.head()

,Duration (ms),Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member Type
0,301295,3/31/2016 23:59,4/1/2016 0:04,31280,11th & S St NW,31506,1st & Rhode Island Ave NW,W00022,Registered
1,557887,3/31/2016 23:59,4/1/2016 0:08,31275,New Hampshire Ave & 24th St NW,31114,18th St & Wyoming Ave NW,W01294,Registered
2,555944,3/31/2016 23:59,4/1/2016 0:08,31101,14th & V St NW,31221,18th & M St NW,W01416,Registered
3,766916,3/31/2016 23:57,4/1/2016 0:09,31226,34th St & Wisconsin Ave NW,31214,17th & Corcoran St NW,W01090,Registered
4,139656,3/31/2016 23:57,3/31/2016 23:59,31011,23rd & Crystal Dr,31009,27th & Crystal Dr,W21934,Registered

In [8]:
# df["Duration"] = df['Duration'].str.replace('ms', '')
# df["Duration"] = df['Duration'].str.replace('sec', '')
# df["Duration"] = df['Duration'].str.replace('h', '')
# df["Duration (ms)"] = df['Duration (ms)'].str.replace(' ', '')
# df["Duration (ms)"] = df['Duration (ms)'].str.replace('.', '').astype(float)

In [9]:
address=df['End station'].unique()
print(address)
df = df.dropna()

['1st & Rhode Island Ave NW' '18th St & Wyoming Ave NW' '18th & M St NW'
 '17th & Corcoran St NW' '27th & Crystal Dr' '5th & K St NW'
 '18th & R St NW' '20th & O St NW / Dupont South'
 '5th St & Massachusetts Ave NW' '1st & N St  SE'
 '21st St N & N Pierce St' '3rd St & Pennsylvania Ave SE'
 'Eckington Pl & Q St NE' '34th St & Wisconsin Ave NW'
 'Bladensburg Rd & Benning Rd NE' '2nd & G St NE'
 'Smithsonian / Jefferson Dr & 12th St SW' '21st & M St NW'
 'Lincoln Memorial' 'Lee Hwy & N Cleveland St' '15th & Euclid St  NW'
 'M St & New Jersey Ave SE' 'Massachusetts Ave & Dupont Circle NW'
 'Gallaudet / 8th St & Florida Ave NE' '10th & Florida Ave NW'
 'Constitution Ave & 2nd St NW/DOL' '14th & Belmont St NW'
 'Columbus Circle / Union Station' 'Lamont & Mt Pleasant NW'
 'Neal St & Trinidad Ave NE' 'N Veitch & Key Blvd'
 '14th & Rhode Island Ave NW' 'N Quincy St & Wilson Blvd' '14th & V St NW'
 '14th & Harvard St NW' 'Harvard St & Adams Mill Rd NW'
 '17th & K St NW / Farragut Square' 'MLK Library/9th & G St NW'
 'California St & Florida Ave NW' '14th St & Spring Rd NW'
 'Park Rd & Holmead Pl NW' '17th St & Massachusetts Ave NW'
 'C & O Canal & Wisconsin Ave NW' '13th & D St NE' '10th & K St NW'
 '21st & I St NW' '3rd & H St NE' 'Thomas Circle' '1st & M St NE'
 'Jefferson Dr & 14th St SW' 'New Hampshire Ave & 24th St NW'
 'Georgia Ave and Fairmont St NW' '19th & G St NW'
 'Connecticut Ave & Tilden St NW' 'N Quincy St & Glebe Rd' '1st & K St SE'
 '1st & H St NW' 'King St Metro North / Cameron St'
 '22nd & I St NW / Foggy Bottom' 'Court House Metro / 15th & N Uhle St '
 'Key Blvd & N Quinn St' '11th & M St NW' 'Georgia Ave & Emerson St NW'
 '4th & M St SW' '25th St & Pennsylvania Ave NW' '9th & Upshur St NW'
 'New Jersey Ave & N St NW/Dunbar HS' '3rd & Elm St NW'
 'Washington & Independence Ave SW/HHS' '13th & H St NE'
 'Wisconsin Ave & O St NW' 'Connecticut & Nebraska Ave NW']

In [10]:
from sklearn.preprocessing import LabelEncoder
gle = LabelEncoder()
address_labels = gle.fit_transform(df['End station'])
address_labels = gle.fit_transform(df['Start station'])
address_mappings = {index: label for index, label in 
                  enumerate(gle.classes_)}
address_mappings

{0: '10th & K St NW',
 1: '10th & U St NW',
 2: '11th & Kenyon St NW',
 3: '11th & M St NW',
 4: '11th & S St NW',
 5: '14th & Belmont St NW',
 6: '14th & G St NW',
 7: '14th & R St NW',
 8: '14th & Rhode Island Ave NW',
 9: '14th & V St NW',
 10: '14th St Heights / 14th & Crittenden St NW',
 11: '15th & Euclid St  NW',
 12: '16th & Irving St NW',
 13: '17th & G St NW',
 14: '17th & K St NW / Farragut Square',
 15: '17th & Rhode Island Ave NW',
 16: '18th & M St NW',
 17: '19th St & Constitution Ave NW',
 18: '1st & M St NE',
 19: '20th & E St NW',
 20: '20th & O St NW / Dupont South',
 21: '21st & I St NW',
 22: '21st & M St NW',
 23: '23rd & Crystal Dr',
 24: '23rd & E St NW ',
 25: '34th St & Wisconsin Ave NW',
 26: '37th & O St NW / Georgetown University',
 27: '3rd & Tingey St SE',
 28: '3rd St & Pennsylvania Ave SE',
 29: '5th St & Massachusetts Ave NW',
 30: '7th & F St NW / National Portrait Gallery',
 31: '7th & R St NW / Shaw Library',
 32: '7th & T St NW',
 33: '8th & F St NE',
 34: '8th & H St NW',
 35: 'Adams Mill & Columbia Rd NW',
 36: 'Ballenger Ave & Dulaney St',
 37: 'C & O Canal & Wisconsin Ave NW',
 38: 'Calvert & Biltmore St NW',
 39: 'Clarendon Blvd & N Fillmore St',
 40: 'Clarendon Blvd & Pierce St',
 41: 'Columbia Rd & Belmont St NW',
 42: 'Columbus Circle / Union Station',
 43: 'Constitution Ave & 2nd St NW/DOL',
 44: 'Court House Metro / 15th & N Uhle St ',
 45: 'Eastern Market Metro / Pennsylvania Ave & 7th St SE',
 46: 'Fairfax Dr & Wilson Blvd',
 47: 'Friendship Hts Metro/Wisconsin Ave & Wisconsin Cir',
 48: 'Georgia & New Hampshire Ave NW',
 49: 'Jefferson Dr & 14th St SW',
 50: 'Lee Hwy & N Cleveland St',
 51: 'Lincoln Memorial',
 52: 'MLK Library/9th & G St NW',
 53: 'Maryland & Independence Ave SW',
 54: 'Massachusetts Ave & Dupont Circle NW',
 55: 'Metro Center / 12th & G St NW',
 56: 'N Quincy St & Glebe Rd',
 57: 'Neal St & Trinidad Ave NE',
 58: 'New Hampshire Ave & 24th St NW',
 59: 'New York Ave & 15th St NW',
 60: 'New York Ave & Hecht Ave NE',
 61: 'Oklahoma Ave & D St NE',
 62: 'Park Rd & Holmead Pl NW',
 63: 'Smithsonian / Jefferson Dr & 12th St SW',
 64: 'Thomas Circle',
 65: 'US Dept of State / Virginia Ave & 21st St NW',
 66: 'Wilson Blvd & N Edgewood St'}

In [11]:
df['End station'] = address_labels

In [12]:
gle = LabelEncoder()
address_labels = gle.fit_transform(df['Start station'])
address_mappings = {index: label for index, label in 
                  enumerate(gle.classes_)}
address_mappings

{0: '10th & K St NW',
 1: '10th & U St NW',
 2: '11th & Kenyon St NW',
 3: '11th & M St NW',
 4: '11th & S St NW',
 5: '14th & Belmont St NW',
 6: '14th & G St NW',
 7: '14th & R St NW',
 8: '14th & Rhode Island Ave NW',
 9: '14th & V St NW',
 10: '14th St Heights / 14th & Crittenden St NW',
 11: '15th & Euclid St  NW',
 12: '16th & Irving St NW',
 13: '17th & G St NW',
 14: '17th & K St NW / Farragut Square',
 15: '17th & Rhode Island Ave NW',
 16: '18th & M St NW',
 17: '19th St & Constitution Ave NW',
 18: '1st & M St NE',
 19: '20th & E St NW',
 20: '20th & O St NW / Dupont South',
 21: '21st & I St NW',
 22: '21st & M St NW',
 23: '23rd & Crystal Dr',
 24: '23rd & E St NW ',
 25: '34th St & Wisconsin Ave NW',
 26: '37th & O St NW / Georgetown University',
 27: '3rd & Tingey St SE',
 28: '3rd St & Pennsylvania Ave SE',
 29: '5th St & Massachusetts Ave NW',
 30: '7th & F St NW / National Portrait Gallery',
 31: '7th & R St NW / Shaw Library',
 32: '7th & T St NW',
 33: '8th & F St NE',
 34: '8th & H St NW',
 35: 'Adams Mill & Columbia Rd NW',
 36: 'Ballenger Ave & Dulaney St',
 37: 'C & O Canal & Wisconsin Ave NW',
 38: 'Calvert & Biltmore St NW',
 39: 'Clarendon Blvd & N Fillmore St',
 40: 'Clarendon Blvd & Pierce St',
 41: 'Columbia Rd & Belmont St NW',
 42: 'Columbus Circle / Union Station',
 43: 'Constitution Ave & 2nd St NW/DOL',
 44: 'Court House Metro / 15th & N Uhle St ',
 45: 'Eastern Market Metro / Pennsylvania Ave & 7th St SE',
 46: 'Fairfax Dr & Wilson Blvd',
 47: 'Friendship Hts Metro/Wisconsin Ave & Wisconsin Cir',
 48: 'Georgia & New Hampshire Ave NW',
 49: 'Jefferson Dr & 14th St SW',
 50: 'Lee Hwy & N Cleveland St',
 51: 'Lincoln Memorial',
 52: 'MLK Library/9th & G St NW',
 53: 'Maryland & Independence Ave SW',
 54: 'Massachusetts Ave & Dupont Circle NW',
 55: 'Metro Center / 12th & G St NW',
 56: 'N Quincy St & Glebe Rd',
 57: 'Neal St & Trinidad Ave NE',
 58: 'New Hampshire Ave & 24th St NW',
 59: 'New York Ave & 15th St NW',
 60: 'New York Ave & Hecht Ave NE',
 61: 'Oklahoma Ave & D St NE',
 62: 'Park Rd & Holmead Pl NW',
 63: 'Smithsonian / Jefferson Dr & 12th St SW',
 64: 'Thomas Circle',
 65: 'US Dept of State / Virginia Ave & 21st St NW',
 66: 'Wilson Blvd & N Edgewood St'}

In [14]:
df['Start station'] = address_labels
df.head()

,Duration (ms),Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member Type
0,301295,3/31/2016 23:59,4/1/2016 0:04,31280,4,31506,4,W00022,Registered
1,557887,3/31/2016 23:59,4/1/2016 0:08,31275,58,31114,58,W01294,Registered
2,555944,3/31/2016 23:59,4/1/2016 0:08,31101,9,31221,9,W01416,Registered
3,766916,3/31/2016 23:57,4/1/2016 0:09,31226,25,31214,25,W01090,Registered
4,139656,3/31/2016 23:57,3/31/2016 23:59,31011,23,31009,23,W21934,Registered

In [17]:
gle = LabelEncoder()
bike_labels = gle.fit_transform(df['Bike number'])
bike_mappings = {index: label for index, label in 
                  enumerate(gle.classes_)}
bike_mappings

{0: 'W00022',
 1: 'W00045',
 2: 'W00080',
 3: 'W00193',
 4: 'W00209',
 5: 'W00353',
 6: 'W00443',
 7: 'W00505',
 8: 'W00613',
 9: 'W00670',
 10: 'W00699',
 11: 'W00719',
 12: 'W00726',
 13: 'W00928',
 14: 'W00931',
 15: 'W00991',
 16: 'W01039',
 17: 'W01043',
 18: 'W01062',
 19: 'W01090',
 20: 'W01137',
 21: 'W01160',
 22: 'W01182',
 23: 'W01191',
 24: 'W01197',
 25: 'W01201',
 26: 'W01221',
 27: 'W01233',
 28: 'W01235',
 29: 'W01294',
 30: 'W01413',
 31: 'W01416',
 32: 'W01458',
 33: 'W01474',
 34: 'W20065',
 35: 'W20161',
 36: 'W20173',
 37: 'W20222',
 38: 'W20240',
 39: 'W20291',
 40: 'W20323',
 41: 'W20339',
 42: 'W20351',
 43: 'W20403',
 44: 'W20445',
 45: 'W20449',
 46: 'W20508',
 47: 'W20562',
 48: 'W20590',
 49: 'W20614',
 50: 'W20709',
 51: 'W20734',
 52: 'W20751',
 53: 'W20765',
 54: 'W20768',
 55: 'W20811',
 56: 'W20818',
 57: 'W20888',
 58: 'W20891',
 59: 'W20897',
 60: 'W20924',
 61: 'W20961',
 62: 'W20973',
 63: 'W20989',
 64: 'W21034',
 65: 'W21086',
 66: 'W21112',
 67: 'W21154',
 68: 'W21214',
 69: 'W21222',
 70: 'W21341',
 71: 'W21359',
 72: 'W21372',
 73: 'W21392',
 74: 'W21418',
 75: 'W21441',
 76: 'W21553',
 77: 'W21556',
 78: 'W21562',
 79: 'W21651',
 80: 'W21686',
 81: 'W21794',
 82: 'W21803',
 83: 'W21876',
 84: 'W21934',
 85: 'W21938',
 86: 'W21980',
 87: 'W21992',
 88: 'W22041',
 89: 'W22068',
 90: 'W22132',
 91: 'W22168',
 92: 'W22180',
 93: 'W22196',
 94: 'W22243',
 95: 'W22256',
 96: 'w01100'}